.header-container{ width: 900px; margin: 0 auto; height: inherit; }
.container{ width: 900px; margin: 0 auto; height: inherit; }

/*
color : #F2C299;
logo-color : #ED8B43;

color1 : #F7E5DA;
color1 chg : #EDD0C0;
color2 : #ED8B43;
color3 : #442714;
*/

nav{ background-color: #EDD0C0; top: 0; width: 100%; position: fixed; }
ul.nav{ float:right; }
.nav{ text-align: right; margin-top: 16px; }
.nav li a{ font-size: 14px; color: #222; }
.navbar-brand { display: inline-block; font-size: 14px; margin: 10px 0 10px 0; }
.navbar-brand img { height: 30px; }
.nav-item{ display: inline-block; }
.nav-link{ padding: 5px 12px; vertical-align: middle; }
.nav-link:visited{ color:#222; }
.nav-link:hover{ color: #ED8B43; text-decoration: none; }

.head-tit{ font-size: 48px; }
.head-tit-mean{ font-size: 22px; }
.head-section{ font-size: 15px; margin-top: 20px; }

#tit-container{ margin-top: 150px; height: 600px; }
#hero-area{ display: inline-block; }
#log-box{ width: 340px; height: 240px; border: 1px solid black; border-radius: 5px; }
#log-in{ float:right; }
#log{ margin: 0 auto; width:285px; }

.hello { display: inline-block; padding: 0 0 0 200px; }

.log-textbox{ height: 40px; width: 280px; margin-top: 10px; }
.sign-btn{ height: 40px; width: 285px; margin-top: 4px; }
#sign-in{ background-color: #33cc33; border: none; margin-top: 35px; }

#hauso-info{ text-align: center; font-size: 15px; }
#hauso-info h4{ font-size: 48px; }
#hauso-info p{ margin: 5px 0 10px 0; }
#hauso-info div{ display: inline-block; }
#hauso-info a:hover{ color: #F2A88C; }
.info-menu{ font-size: 30px; margin-top: 50px; }
.menu1{ margin-right: 100px; }

.info-menu-area{ width: 100%; }
.menu1-area{ text-align: center; margin-top: 50px; }
.menu2-area{ margin-top: 50px; }

#footer{ border-top: 1px solid #ccc; margin-top: 20px; }
.footer{ padding: 30px; text-align: center; }
.footer address{ font-style: normal; }

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('../img/main6.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-tit{ text-align: center; font-size: 65px; color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); letter-spacing: 20px; }
.main-tit div{ font-size: 20px; letter-spacing: 10px; }